<!--<div class="container" *ngFor="let graph of gas">-->
    <!--<h4>Data:     {{graph.data}}</h4>-->
    <!--<h4>Value:     {{graph.value}}</h4>-->
    <!--<h4>Time: {{graph.time}}</h4>-->
    <!--<button class="btn" (click)="removegraph(graph._id)">Delete</button> -->
    <!--<button class="btn" (click)="openModal(graph)">Update</button>    -->
<!--</div>-->
<div class="container">
<h1>Gas Methane</h1>
<canvas id="c1"></canvas>
<h1>Gas Amonia</h1>
<canvas id="c2"></canvas>
<h1>Gas Hydrogen</h1>
<canvas id="c3"></canvas>
<h1>Gas Sulfur</h1>
<canvas id="c4"></canvas>
<h1>Gas Formaldehyde </h1>
<canvas id="c5"></canvas>
<h1>Gas Methylene Chloride</h1>
<canvas id="c6"></canvas>
<h1>Gas Hydrogen Sulfide</h1>
<canvas id="c7"></canvas>
<h1>Current Visitors</h1>
<canvas id="c8"></canvas>
<h1>Temperature</h1>
<canvas id="c9"></canvas>
<h1>Noise</h1>
<canvas id="c10"></canvas>
<h1>Water Hand Wash</h1>
<canvas id="c11"></canvas>
<h1>Urinal</h1>
<canvas id="c12"></canvas>
<h1>Temperature Sink</h1>
<canvas id="c13"></canvas>
<h1>Soap Dispenser</h1>
<canvas id="c14"></canvas>
<h1>Bin</h1>
<canvas id="c15"></canvas>
<h1>Humidity</h1>
<canvas id="c16"></canvas>
<h1>Sink Water Usage</h1>
<canvas id="c17"></canvas>
</div>

